* {
	margin: 0;
	padding: 0;
}

body > section {
	flex-basis: 50%;
	display: flex;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	}
	
	@keyframes gradient {
	0% {
	background-position: 0% 50%;
	}
	50% {
	background-position: 100% 50%;
	}
	100% {
	background-position: 0% 50%;
	}
	}

textarea {
	width: 50vh;
	height: 90vh;
	border: 3px solid #454644;
	background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(199, 199, 199));
	padding: 5%;
}
form {
	display:inline-block;
	position:relative;
}
img {
	width: 100%;
	height: auto;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 3px 3px 5px black; 
	background: linear-gradient(to bottom right, rgb(255, 81, 0), rgb(255, 161, 21) 100%);
	color:#292929;
	height: 8%;
	text-align: center;
}
.button {
	background-color: #ff4c16; 
	border: 1px solid #454644;
	color: rgb(0, 0, 0);
	padding: 14px 40px;
	text-align: center;
	display: inline-block;
  	font-size: 20px;
  	transition-duration: 0.4s;
  	cursor: pointer;
	position:absolute;
	bottom:10px;
	right:10px;
	border-radius: 12px;
}

.button2:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: #ce3000;
  	color: white;
  }
